*{
    box-sizing: border-box;
}
body{
  /* background-color:#F7f7f7; */
  color:#000000;
  background-color: #fafaff;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  overflow: scroll;
}

.div .gallery{
  margin-bottom: 2em;
}
/* navigation */
nav{
  display: flex;
  flex-direction: column;
  background-color:#181818;
  align-items: center;
  justify-content: space-around;
  /* box-shadow: 10px 10px 5px 2px #e7e7e7; */
  padding-top: 1em 0 1em 0;
  width: 100%;
}

nav a{
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: larger;
  padding: 0.5em;
}

.nav_item a:hover, a:focus{
  color: #000000;
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

/* links skip and focus styling */

a.skip{
  background: white;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: left 1s ease-out;
  z-index: 1;
  position: absolute;
  left: -500px;
  overflow: hidden;
}

a.skip:focus{
  left: 500px;
  position: static;
}

a.skip:focus{
  top:20px;
  color: #181818;
  text-decoration-style: solid;
}

*:focus, img:hover{
  box-shadow: 5px 5px #fac650;
}

/* main styling */
.container{
  /* padding for everything */
  padding: 5% 2% 0 2%;
  margin: 0 auto;
  height: auto;
}

/* footer styling */
footer{
  display: flex;
  justify-content: flex-start;
  background-color: white;
  border-top: solid #e7e7e7 2px;
  gap: 10px;
  /* max-height: 5%;
  min-height: 1%; */
}

footer p{
  display: inline-block;
  text-align: center;
  padding-top: 20px; 
  font-size: 1.2em;
}
.footer_icons{
  display: flex;
  justify-content: space-evenly;
  width: 20%;
  gap: 5px;
  padding-top: 1em;

}

footer a:link{
  color: #181818 ;
}
footer a:visited{
  color: #181818 ;
}

/* images styling */
.gallery{
  display: flex;
  flex-direction: column;
  gap: 1vh;
  align-items: center;
  /* margin: 5% 0 % 0; */
  /* padding-top: 10%; */
}

img{
  width: 100%;
  margin: 0.5%;
  overflow: hidden;
}

/* text styling */
h1{
  font-size: 2em;
  font-weight: 400;
  padding-bottom: 1em;
  text-align: center;
}

h2{
  font-size: 1.5em;
  text-align: center;
  font-weight: 600;
  margin: 5vh 0 1vh 0;
  /* margin: 1% 0 1% 1%; */
}

h1 + h2{
  font-size: 1.5em;
  text-align: center;
  font-weight: 600;
  margin: 0 0 2% 0;

}

p{
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  padding-bottom: 1em;
  text-align: left;
}
.text{
  padding: 1em 0 1em 0;

}
/* about styling */
.about{
  background-image: url(../images/background.webp);
}

.about-img{
  animation-name: myimage;
  animation-duration: 5s;
}
@keyframes myimage {
  0% {width: 0; opacity: 25;}
  100%{width: 100%; opacity: 1;}
}

.about-img, .background, .about-text, .myform{
  grid-column: 1 / 4;
  max-height: 700px;
  overflow: hidden;
}
.about-img{
  overflow: hidden;
  grid-row: 1 / 2;
}
.about_container{
  display: grid;
  grid-template-columns: auto 6fr auto;
  /* grid-template-rows: 3fr 5fr 5fr; */
  row-gap: 12px;

}
.background{
  background-color: #fafaff;
  height: 100%;
  z-index: 0;
}

.about-text, .background{
  grid-row: 2 / 3;
}

.about-text{
  z-index: 1;
  padding: 2%;
  text-align: left;
}

/* form styling */

form {
  border: 0.1em solid #181818;
  padding: 2%;
  background-color: #fafaff;
}

legend{ 
  font-size: 100%;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: left;
  padding: 1em 0 1em 0;
  color: #181818;
}

label{
  display: inline-block;
  margin-top: 1em;
  /* margin-right:10px; */
  width:50%;
}
input {
  width: 100%;
  padding: 2%;
  /* padding: 12px 20px; */
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* span{
  margin-left:20%;
  font-family: italic;
  font-weight: bold;
} */

textarea{
  width: 100%;
  height: 20vh;
  padding: 2%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  font-family: "open-sans", sans-serif;
  font-size: medium;
}

input{
  font-size: medium;
  color: #e7e7e7;
}


input[type=checkbox]{
    display:inline;
    width:inherit;
}

input[type=submit] {
  background-color: #fac650;
  opacity: 0.7;
  color: #181818;
  font-size: 1.5em;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  opacity: 1;
}

.myform{
  grid-row: 3 /4;
  width: 100%;
}

@media screen and (prefers-reduced-motion: reduce){
  #logo{
      animation: none;
  }
}








